<div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5 ">
  <form action="/home" method="post">
    <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Please Log in</h2>

    <div class="form-outline mb-4">
      <input type="username" id="form2Example18" class="form-control form-control-lg" name="uname" />
      <label class="form-label" for="form2Example18">Username</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="form2Example28" class="form-control form-control-lg" name="pass" />
      <label class="form-label" for="form2Example28">Password</label>
    </div>

    {{#if error}}
    <div class="error">
      <h3>Invalid Credentials!!!</h3>
    </div>
    {{/if}}

    <div class="pt-1 mb-4">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>

  </form>

</div>

